
/** Custom Font Faces**/

@font-face {
    font-family: 'SuperShiny';
    src: url('../Custom Fonts/SuperShiny-0v0rG.ttf');
    font-weight: auto;
}

@font-face {
    font-family: 'EngineBrake';
    src: url('../Custom Fonts/Enginebrakedemo-E41Yz.ttf');
    font-weight: auto;
}
h1{
    font-family: "SuperShiny", sans-serif;
}
/** default styling of page **/
mark{
    background-color: #5fea9a;
}
body{
    display: grid;
    background-color: #5fea9a;
}
/** Header styling**/

header{
    display: flex;
    align-items: center;
    position: fixed;
    height: 175px;
    width: 100%;
    background-color: #f6f6f6;
    z-index: 9999;
    transition: all .25s linear;
}

header div, header nav{
    height: 58%;
    width: auto;
}

header div:first-child img{
    height: 100%;
    width: auto;
}

header div:nth-child(2){
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-content: center;
    text-align: center;
}

header div:nth-child(2) img{
    height: 50px;
    width: auto;
}

header div:nth-child(2) img:first-child {
    height: 75px;
    width: auto;
    transform: translateY(-15px) translateX(25px);
}

/** The pac dots**/
#pacdot_one,#pacdot_two,#pacdot_three,#pacdot_four{
    transform: translateX(50px);
    padding: 0px 50px;
}
/** Menu styling **/
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-grow: 1;
    text-decoration: none;
}
header nav menu{
    transform: translateY(-28px);
}
header nav menu li{
    list-style: none;
    font-family: "EngineBrake", sans-serif;
}

header nav menu img{
    height: 35px;
    width: auto;
    transform: translateY(28px) translateX(-117px);
}

/** Main page styling **/
main div:first-child{
    height: 100vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    background-image: url('../img/1490373477-delish-jolly-rancher-shots-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
main div:first-child section{
    background-color: rgba(0,0,0,0.4);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
main div h1{
    font-size: 6em;
    text-align: center;
    text-decoration: none;
    color: #6e9de5;
    text-shadow: 4px 3px 2px rgba(0,0,0,.7);

}
/** Styling the bags **/
.Original_Bag_Class, .Sour_Bag_Class {
    display: grid;
    grid-template-columns: 50% 50%;
    width: auto;
    height: 700px;
    padding-left: 50px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
}
.Original_Bag_Class img,.Sour_Bag_Class img{
    height: 500px;
    width: auto;
}

.Original_Bag_Class p, .Sour_Bag_Class p{
    font-family: 'SuperShiny', cursive;
    padding: 10px 5px;
    font-size: 2.5em;
}

/** Styling all the marks**/
#blue_raspberry, #blue_raspberry_sour{
    color: #0b59cf;
}
#red_cherry, #red_cherry_sour{
    color: #741c34;
}
#green_apple, #green_apple_sour{
    color: #acea39;
}
#watermelon, #watermelon_sour{
    color: #436503;
}
#strawberry, #strawberry_sour{
    color: #cb2c2c;
}
#lemon, #lemon_sour{
    color: #d6ce26;
}

/** Original Bag styling **/

.Original_Bag_Class img:hover, .Sour_Bag_Class img:hover {
    transform: scale(1.5);
    cursor: pointer;
}
/** Disables the second bag until the bottom image is clicked**/
.Sour_Bag_Class{
    display: none;
}
/** Jolly rancher button styling **/
.Jolly_button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-108px);
}

.Jolly_button p{
    font-family: "EngineBrake", sans-serif;
    z-index: 20;
    transform: translateX(150px);
}

/** Responsive design**/

@media screen and (max-width: 1270px){
    /**Change the spacing of the dots**/
    #pacdot_one,#pacdot_two,#pacdot_three,#pacdot_four{
        transform: translateX(50px);
        padding: 0px 15px;
    }
}

@media screen and (max-width: 1024px){
    header
    {
        height: 75px;
    }
    header div:nth-child(2) img:first-child{
        height: 40px;
        width: auto;
        transform: translateX(30px);
    }
    #pacdot_one,#pacdot_two,#pacdot_three,#pacdot_four{
        height: 25px;
        width: auto;
        transform: translateY(10px) translateX(25px);
    }
    #hard_candy_one,#hard_candy_two,#hard_candy_three{
        display: none;
    }
    header nav menu{
        display: inline-flex;
        padding-top: 50px;
    }
    header nav menu li{
        padding: 0 10px;
    }
    main div:first-child{
        background-size: contain;
        height: 66vh;
        width: auto;
        padding-top: 78px;
    }
    main div:first-child section{
        height: 100%;
        width: 100%;
    }
    main div:first-child section h1{
        font-size: 3.5em;
    }
    .Sour_Bag_Class img,.Original_Bag_Class img{
        height: 350px;
        transform: translateX(25px);
    }
    .Sour_Bag_Class p, .Original_Bag_Class p{
        font-size: 1.85em;
    }
    .Jolly_button img{
        height: 175px;
    }
    .Jolly_button p{
        transform: translateX(133px);
    }

}

@media screen and (max-width: 768px)
{
    main div:first-child {
        height: 355px;
    }
    .Sour_Bag_Class,.Original_Bag_Class{
        height: 500px;
        padding-left: 10px;
        padding-right: 20px;
    }
    .Original_Bag_Class img:hover, .Sour_Bag_Class img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }
}

@media screen and (max-width: 430px){
    header div:nth-child(2){
        display: none;
    }
    header nav menu li{
        padding: 0px 4px;
    }
    main div:first-child{
        height: 162px;
    }
    main div:first-child section h1{
        font-size: 2em;
    }
    .Original_Bag_Class,.Sour_Bag_Class{
        grid-template-columns: 100%;
    }
    .Original_Bag_Class img:hover, .Sour_Bag_Class img:hover {
         transform: scale(1.2);
         cursor: pointer;
     }
    .Original_Bag_Class p, .Sour_Bag_Class p{
        font-size: 1em;
    }
    .Jolly_button{
        transform: translateX(-55px);
    }
}
