@font-face {
    font-family: 'Disarmer';
    src: url('../Custom Fonts/Disarmer-pvVD.ttf');
    font-weight: auto;
}

body {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "masthead masthead masthead masthead"
        "main main main main"
        "footer footer footer footer";
    background-color: #f8f8f8;
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: fixed;
    width: 100%;
    height: 125px;
    background-color: #f8f8f8;
    align-items: center;
}
header div{
    width: 100%;
    height: auto;
}
header div img {
    width: auto;
    height: 75px;
}
header menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}
header menu li{
    padding: 0 10px;
}
header menu li a{
    color: #0e0e0e;
}
.main_content, .jagdtiger_content, .stridsvagn_content, .tiger_content{
    grid-area: main;
}

.main_header{
    grid-area: masthead;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: center;
    width: 100%;
    height: 400px;
    padding-top: 150px;
    color: #f6f6f6;
    /*Add in video background from youtube of the tank moving*/
}
.main_header h1{
    color: #0e0e0e;
    font-size: 5em;
    text-decoration: none;
    text-align: center;
    letter-spacing: 5px;
    width: auto;
    height: 125px;
}
#TankImageOne{
    width: auto;
    height: 200px;
}
#TankImageTwo{
    width: auto;
    height: 150px;
}
/*Needed for key frames to animate a moving bullet*/
#ShellOne,#ShellTwo{
    display: none;
}

/*Disables the information on the screen will do a hover to show after*/
#Tiger_1_Information, #Stridsvagn_information,
#Jagdtiger_information{
    display: none;
}
main section:nth-child(2){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    align-content: center;
    background-color: #f9a825;
    height: 200px;
    width: auto;
}
main section:nth-child(2) h2,main section:nth-child(2) h3,
main section:nth-child(2) h4{
    font-size: 2.5em;
    font-family: 'Disarmer',sans-serif;
    padding: 0px 10px;
    text-align: center;
    color: #0cb19d;
}
/*Setting up the card spots for the tanks*/
main section:nth-child(3){
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    align-items: center;
    height: 300px;
    width: auto;
    background-color: #f9a825;
}
main section:nth-child(3) div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0px 10px;
}
main section:nth-child(3) div:first-child img,
main section:nth-child(3) div:nth-child(2) img,
main section:nth-child(3) div:nth-child(3) img {
    height: 250px;
    width: auto;
}
main section:nth-child(4){
    height: 25px;
    width: auto;
    background-color: #f9a825;
}
main section:nth-child(4) div{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    text-align: center;
}
main section:nth-child(4) div a{
    width: 200px;
    height: 100%;
    outline: 3px solid #1d3557;
    padding-bottom: 3px;
    padding-top: 2px;
    background-color: #0cb19d;
    color: #f9a825;
}
main section:nth-child(4) div a:first-child{
    position: relative;
    left: 25px;
    top: -57px;
}
main section:nth-child(4) div a:nth-child(2){
    position: relative;
    left: 114px;
    top: -57px;
}
main section:nth-child(4) div a:nth-child(3){
    position: relative;
    left: 74px;
    top: -57px;
}
main section:nth-child(5){
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: none;
    height: 300px;
    width: auto;
}
footer{
    grid-area: footer;
}
